.footerContainer {
  width: 100%;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  color: white;
  text-align: center;
  padding: 15px 0;
  font-size: 0.9rem;
  position: fixed;
  bottom: 0;
  left: 0;
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.2);
  margin-top: auto; /* clave para empujarlo abajo */
  position: relative; /* quita el "pegado" */

}